.dropbtn {
    background-color: #212121;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    box-shadow: 0px 8px 32px 0px rgba(30, 30, 30, 0.2);
    outline: auto;
  }

.skew {
    transform: skew(-5deg);
  }

  header {
    position: fixed;
    width: 100%;
    height: 75px;
    padding: 10px;
    margin: 0 auto;
    z-index: 1000;
    background-image: linear-gradient(to bottom, black, rgb(83, 83, 83));
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.421);
  } 

  a {
    color:#ff8800
  }

  a:hover {
    color:#ff4d00
  }
  
  .dropdown-content a:hover {background-color: #f0b2b2;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #392539;}

  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0; -webkit-text-stroke-color: black; -webkit-text-stroke-width: 0.02vh; font-weight: 800; color: white;}
p {text-shadow: 0.3vh 0.3vh black; font-size: 2vh; color:white}
h3 {color: rgb(255, 255, 255); font-size: 2.5vh; font-family:sans-serif;}
img {vertical-align: middle;}
h1 {-webkit-text-stroke-width: 0.2vh; text-shadow: 0.2vh 0.2vh black; z-index: 0; font-size: 5.5vh; color:white; font-weight: 800;}

button:hover{
  filter: brightness(150%);
}

.spin-image {
  width: 150px;
  animation: spin 30s linear infinite;
}

.left-image {
  animation: left 90s linear infinite;
}

.left-image-slower {
  animation: left 35s linear infinite;
}

.img-border{
  border: 2px solid black;
  box-shadow: 1px 0px 3px 0px rgb(18, 18, 18)
}

.img-border-white{
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 1px 0px 3px 0px rgb(18, 18, 18);
  max-width: 100%;
}

.tilt{
  animation: tilt-image 31s ease-in-out infinite;
}

.tilt2{
  animation: tilt-image 24s ease-in-out infinite;
}

.tilt3{
  animation: tilt-image 35s ease-in-out infinite reverse;
}

.hoverButton:hover{
  background-color: #a6a6a6;
}

.hoverButton:hover img{
  filter: brightness(150%);
}

@keyframes spin {
  0% { transform: rotate(45deg); }
  15% { transform: rotate(-45deg); }
  45% { transform: rotate(-135deg); }
  65% { transform: rotate(-225deg); }
  75% { transform: rotate(-315deg); }
  100% { transform: rotate(-315deg); }
}

@keyframes left {
  from { background-position: left center;
  } to { background-position: 200% center; }
}

@keyframes tilt-image {
  0% { transform: rotate(-1deg) translateY(12px) translateX(-15px); }
  20% { transform: rotate(5deg) translateY(-12px) translateX(14px); }
  40% { transform: rotate(-5deg) translateY(12px) translateX(-14px);  }
  60% { transform: rotate(3deg) translateY(-13px) translateX(13px); }
  80% { transform: rotate(-5deg) translateY(12px) translateX(-11px); }
  100% { transform: rotate(-1deg) translateY(11px) translateX(-15px); }
}

html, body {
  max-width: 100%;
  min-height: 1080px;
  overflow-x: initial !important;
}

.transition {
  animation: fade 10s ease-in-out infinite;
}

@keyframes fade {
  0% {opacity: 0;}
  35% {opacity: 1;}
  70% {opacity: 1;}
  100% {opacity: 0;}
}

h2 {-webkit-text-stroke-width: 0.2vh; text-shadow: 0.2vh 0.2vh black; z-index: 0; font-size: 3.5vh; color:white; font-weight: 800;}
.card li {-webkit-text-stroke-width: 0.01vh; text-shadow: 0.2vh 0.2vh 0.1vh black; z-index: 0; font-size: 2.0vh; color:white; font-weight: 400;}

.card li::marker {
  content:"> ";
}