/* Dropdown Button */
.dropbtn {
    background-color: #aa5790;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    box-shadow: 0px 8px 32px 0px rgba(255, 255, 255, 0.2);
    outline: auto #6f4261;
  }

.skew {
    transform: skew(-5deg);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ededed;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    outline: auto;
    z-index: 100;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    outline: auto;
  }

  header {
    position: fixed;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  } 

  a {
    color:#ff8800
  }

  a:hover {
    color:#ff4d00
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f0b2b2;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #392539;}

  * {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0; -webkit-text-stroke-color: black; -webkit-text-stroke-width: 0.2px; font-weight: 800; color: white;}
p {text-shadow: 2px 2px black; font-size: 20px;}
h3 {color: rgb(255, 255, 255); font-size: 30px; font-family:sans-serif;}
img {vertical-align: middle;}
h1 {-webkit-text-stroke-width: 1px; text-shadow: 2px 2px black; z-index: 0; font-size: 50px;}

button:hover{
  filter: brightness(150%);
}

.spin-image {
  width: 150px; /* Adjust the size of the image */
  animation: spin 30s linear infinite; /* Set the animation to loop infinitely */
}

.left-image {
  animation: left 90s linear infinite; /* Set the animation to loop infinitely */
}

.left-image-slower {
  animation: left 35s linear infinite; /* Set the animation to loop infinitely */
}

.img-border{
  border: 2px solid black;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.421);
}

.img-border-white{
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 4px 4px 10px 4px rgb(18, 18, 18)
}

.tilt{
  animation: tilt-image 31s ease-in-out infinite;
}

.tilt2{
  animation: tilt-image 24s ease-in-out infinite;
}

.tilt3{
  animation: tilt-image 35s ease-in-out infinite reverse;
}

.hoverButton:hover{
  background-color: #392539;
}

.hoverButton:hover img{
  filter: brightness(150%);
}

@keyframes spin {
  0% { transform: rotate(45deg); }
  15% { transform: rotate(-45deg); }
  45% { transform: rotate(-135deg); }
  65% { transform: rotate(-225deg); }
  75% { transform: rotate(-315deg); }
  100% { transform: rotate(-315deg); }
}

@keyframes left {
  from { background-position: left center;
  } to { background-position: 200% center; }
}

@keyframes tilt-image {
  0% { transform: rotate(-1deg) translateY(12px) translateX(-15px); }
  20% { transform: rotate(5deg) translateY(-12px) translateX(14px); }
  40% { transform: rotate(-5deg) translateY(12px) translateX(-14px);  }
  60% { transform: rotate(3deg) translateY(-13px) translateX(13px); }
  80% { transform: rotate(-5deg) translateY(12px) translateX(-11px); }
  100% { transform: rotate(-1deg) translateY(11px) translateX(-15px); }
}

html, body {
  max-width: 100%;
  min-height: 1080px;
  overflow-x: initial !important;
}

.transition {
  animation: fade 10s ease-in-out infinite;
}

@keyframes fade {
  0% {opacity: 0;}
  35% {opacity: 1;}
  70% {opacity: 1;}
  100% {opacity: 0;}
}